---
import Social from './Social.astro';
const platform = 'github';
const username = 'RamonSerrano1848';
---
<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
        align-items: center;
    }
</style>
<footer>
    <p>Learn more about my projects on</p>
    <Social platform="twitter" username="ramonserrano1848"/>
    <Social platform="github" username="ramonserrano1848"/>
    <Social platform="youtube" username="ramonserrano1848"/>
</footer>